<!-- Extend the base layout from the layout.html -->
{% extends "invApp/layout.html" %}

{% block title %} Home {% endblock %}

{% block content %} 
<div class="jumbotron text-center">
    <h1 class="display-4">
        Welcome to Tumu's Inventory Management System.
    </h1>
    <p class="lead">
        Manage your products effeciently and effectively.
    </p>
    <hr class="my-4">
    <p>
        Use the navigation bar to add, view, update or delete products.
    </p>
    <a href="{% url 'product_list' %}" class="btn btn-primary btn-lg" role="button">
        View products
    </a>
</div>
{% endblock %}